# Define here your desired values for each variable
# and copy this `.env.dist` file to this very same directory with the `.env` name
# in order to be used by the `docker-compose.yml`

# MySQL container variables
MYSQL_HOST=codelytv-cqrs_ddd_scala_example-mysql
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=c0d3ly

PHP_IDE_CONFIG=serverName=CodelyTvCqrsDddScalaExample

# RabbitMQ container variables
RABBITMQ_DEFAULT_USER=codelytv
RABBITMQ_DEFAULT_PASS=c0d3ly
