*.class
*.log
.envrc
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
src/*/target
app/target

# Environment variables file intended for customize the Docker containers parameters letting each developer has its own values.
.env

# Application log file and compressed previous logs (see conf/logback.xml)
var/log/app_log.json
var/log/app_log-*.gz
